.headerLogo{
  background-image: url(../images/d’Perfume.png);
  background: contain;
  width: 128px;
  display: block;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  margin: 0;
  background-position: left center;
}
.banner{
  background: no-repeat center url(../images/banner.png);
  background-size: cover;
  height: 870px;
}
.footer{
  background: no-repeat center url(../images/footer.png);
  background-size: cover;
  height: 600px;
}
.footerLogo{
  background-image: url(../images/d’Perfumew.png);
  background: contain;
  width: 128px;
  display: block;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  margin: 0;
  background-position: left center;
}
